<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenido a la {{ title }}!
  </h1>
  <div>
    <img width="300" alt="Logo UMH" src="assets/logo.jpg">
  </div>
  
</div>
<h2>Aqui tienes algunos enlaces útiles: </h2>
<ul>
	<li>
    <h2><a target="_blank" rel="noopener" href="https://www.umh.es">Web Institucional UMH</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://universite.umh.es">Acceso Identificado</a></h2>
  </li>
   <li>
    <a href="https://twitter.com/UniversidadMH?ref_src=twsrc%5Etfw" 
        class="twitter-follow-button" 
        data-show-count="false">Follow @UniversidadMH</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </li>
  <li>
    <a href="https://twitter.com/UniversidadMH?ref_src=twsrc%5Etfw" 
        class="twitter-follow-button" 
        data-show-count="false">Follow @UniversidadMH</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </li> 
</ul>

