<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenido a la {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="assets/logo.jpg">
</div>
<h2>Aqui tienes algunos enlaces útiles: </h2>
<ul>
	<li>
    <h2><a target="_blank" rel="noopener" href="https://www.umh.es">Web Institucional UMH</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://univeriste.umh.es">Acceso Identificado</a></h2>
  </li>
</ul>

